<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prx.tvfdemo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/newsicon"
        android:label="简文"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CollectionActivity"></activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".ModifyPasswordActivity" />
        <activity android:name=".ModifyNameActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".News.SocialNews">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".News.GymNews">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".News.AmusementNews">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".News.ScienceNews">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".NewsWebView" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity android:name=".FeedBacKActivity" />
        <activity
            android:name=".NRCommunityActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ReleaseActivity" />
        <activity android:name=".CommunityActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WRxHy6pAqTOMUxbssY5Av7fd6XWKay9W" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.prx.tvfdemo.BmobContentProvider" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>